.header{
      background-color: #4863a0;;
      width: 75%;
      /* margin-left:  18px;
       */
       margin: auto;
      color: white;
      border: 2px solid olive;
      border-radius: 15px;
}